body{
background-image: url('images/bg3.jpg') no-repeat center center;
}
.jumbotron{
   background-image: url('images/bg1.jpg') no-repeat center center;

}
.jumbotron-special{

	background-image: url('images/jt2.jpg') no-repeat center center;

}

